<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ICreateEmployee" />
                <binding name="BasicHttpBinding_IGetDetails" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:49666/EmployeeManagementService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICreateEmployee"
                contract="EmployeeManagementServiceReference.ICreateEmployee"
                name="BasicHttpBinding_ICreateEmployee" />
            <endpoint address="http://localhost:49666/EmployeeManagementService.svc/retrieval"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IGetDetails"
                contract="EmployeeManagementServiceReference.IGetDetails"
                name="BasicHttpBinding_IGetDetails" />
        </client>
    </system.serviceModel>
</configuration>